# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
dist-ssr
dist-electron
release
*.local

# Electron
build/*.png
build/*.ico
build/*.icns
# We want to keep these icons, so we use ! to unignore them if build/ is ignored.
# But build/ is not currently ignored. 
# If you want to ignore EVERYTHING in build except these icons:
# build/*
# !build/icon.ico
# !build/icon.icns
# !build/icon.png

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?